{% if site.disqus %}
<div class="comments">
	<div id="disqus_thread"></div>
	<script>
		var disqus_config = function () {
			this.page.url = '{{ site.url }}{{ page.url }}';
			this.page.identifier = '{% if page.disqus-id %}{{ page.disqus-id }}{% else %}{{ site.url }}{{ page.url }}{% endif %}';
			this.page.title = '{{ page.title }}';
		};
	
		(function() { // DON'T EDIT BELOW THIS LINE
		var d = document, s = d.createElement('script');
		var disqus_shortname = '';
		
		if (window.location.href.indexOf(":4000/") > -1)
			disqus_shortname += 'staging-';
		
		disqus_shortname += '{{ site.disqus }}';
		
		s.src = '//' + disqus_shortname + '.disqus.com/embed.js';

		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>
{% endif %}